body {
    background-image: url("image/leydforraine.png");
    background-size: auto 100vh;
    background-position: center top;
    background-attachment: fixed;
}

h1
{
    color: rgb(255, 225, 205);
    font-size: 7.5vw;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 6vw;
    text-shadow: 2px 2px 5px rgb(255, 136, 0), 4px 4px 10px #ffd000;
    border: 2px solid #ff9900;
    padding: 10px;
    border-radius: 50px;
}

h3
{
    color: rgb(255, 171, 62);
    font-size: 5.5vw;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 0vw;
    text-shadow: 2px 2px 5px rgb(150, 80, 0), 4px 4px 10px #c57000;
    border: 2px solid #9c4c00;
    padding: 20px;
    border-radius: 50px;
}

h4
{
    color: rgb(0, 195, 255);
    font-size: 5.5vw;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 0vw;
    text-shadow: 2px 2px 5px rgb(0, 63, 146), 4px 4px 10px #0026ff;
    border: 2px solid #0047b1;
    padding: 20px;
    border-radius: 50px;
}

#boutonpage
{
    width: 45vw;
    height: 5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url("image/Menu.png");
    background-size: 25vw;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    border: 2px solid #ffffff;
    border-radius: 120px;
    box-shadow: 2px 2px 5px rgb(255, 255, 255), 4px 4px 10px #ffffff;
    opacity: 0.7;
}