body {
    background-color: black;
    background-position: center -20vw;
    background-size: cover;
      opacity: 0.7;
}

#boutonpage1
{
  width: 45vw;
 height: 30vh;
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px 0;
  color: #ff00f2;
  text-shadow: 2px 2px 5px rgb(255, 255, 255), 4px 4px 10px #ff00f2;
  border: 10px solid #ff00f2;
  box-shadow: 2px 2px 20px rgb(255, 255, 255), 4px 4px 40px #ff00f2;
  border-radius: 12px;
  padding: 12px 30px;
  display: inline-block;
  background-image: url("image/leyviefond.jpg");
    background-size: cover;
    background-position: center;
  font-family: Comic Sans MS, cursive, sans-serif;
}

#boutonpage2
{
    float: right;
      width: 45vw;
 height: 30vh;
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px 0;
  color: #00fc3f;
  text-shadow: 2px 2px 5px rgb(255, 255, 255), 4px 4px 10px #00fc3f;
  border: 10px solid #00fc3f;
  box-shadow: 2px 2px 20px rgb(255, 255, 255), 4px 4px 40px #00fc3f;
  border-radius: 12px;
  padding: 12px 20px;
  display: inline-block;
background-image: url("image/leyvievert.jpg");
background-size: cover;
background-position: center -7vw;
  font-family : Comic Sans MS, cursive, sans-serif;
}

#boutonpage3
{
    float: left;
      width: 45vw;
 height: 30vh;
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px 0;
  color: #fafafa;
  text-shadow: 2px 2px 5px rgb(255, 255, 255), 4px 4px 10px #ffffff;
  border: 10px solid #ffffff;
  box-shadow: 2px 2px 20px rgb(255, 255, 255), 4px 4px 40px #ffffff;
  border-radius: 12px;
  padding: 12px 20px;
  display: inline-block;
background-image: url("image/newppv.png");
background-size: cover;
background-position: center -0vw;
  font-family : Comic Sans MS, cursive, sans-serif;
}

#boutonpage4
{
    float: right;
      width: 45vw;
 height: 30vh;
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px 0;
  color: #ffefe0;
  text-shadow: 2px 2px 5px rgb(255, 118, 6), 4px 4px 10px #ff9a04;
  border: 10px solid #ff7300;
  box-shadow: 2px 2px 20px rgb(255, 152, 68), 4px 4px 40px #ffb341;
  border-radius: 12px;
  padding: 12px 20px;
  display: inline-block;
background-image: url("image/leydforraine.png");
background-size: cover;
background-position: center -0vw;
  font-family : Comic Sans MS, cursive, sans-serif;
}